@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    user-select: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

video,
image,
iframe {
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

table {
    width: 100%;
    border: none;
}

table tr,
table th,
table td {
    padding: 0.8rem;
}

hr {
    background-color: var(--color-text);
    height: 0.1px;
    overflow: hidden;
    opacity: 0.5;
}

ul,
ol {
    list-style-type: none;
}