.taskbar {
    position: absolute;
    bottom: -20rem;
    left: 0%;
    width: 100%;
    background-color: rgb(215, 223, 244);
    transition: all 0.4s;

    &.active {
        bottom: 0;
    }

    &__center {
        padding: 0.7rem;
        display: flex;
        gap: 1rem;
        justify-content: center;

        &>li {
            position: relative;
            transition: all 0.05s;

            &:hover,
            &.active {
                background-color: rgb(236, 242, 252);
            }

            width: 3.8rem;
            height: 3.8rem;
            border-radius: 0.4rem;
            padding: 0.4rem;

            & img {
                width: 100%;
                height: 100%;
            }

            &:hover .mini,
            &:hover .hover-text {
                visibility: visible;
                opacity: 1;
            }

            & .popover_ {
                overflow: hidden;
                width: 24rem;

                &.active {
                    opacity: 1;
                    visibility: visible;
                }

                transition: all 0.3s;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 100%;
                margin-bottom: 1.2rem;
                border-radius: 0.8rem;
                background-color: rgb(246, 248, 252);

                & li {
                    display: flex;
                    align-items: center;
                    gap: 0.8rem;
                    padding: 1.2rem;

                    &:hover {
                        background-color: rgb(241, 241, 241);
                    }

                    & img {
                        width: 2rem;
                        height: 2rem;
                    }

                    & span {
                        font-size: 1.3rem;
                    }
                }
            }

            & .mini {
                background-color: rgb(246, 248, 252);
                position: absolute;
                visibility: hidden;
                opacity: 0;
                transition: all 1s;
                bottom: 100%;
                margin-bottom: 1.2rem;
                left: 50%;
                transform: translateX(-50%);
                width: 20rem;
                border-radius: 0.8rem;
                padding: 0.8rem;

                & .top {
                    margin-top: -1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;

                    & img {
                        width: 2rem;
                        height: 2rem;
                    }

                    & p {
                        font-size: 1.2rem;
                        color: #000000d2;
                    }

                    &:hover span {
                        visibility: visible;
                    }

                    & span {
                        visibility: hidden;
                        width: 3.2rem;
                        justify-content: center;
                        align-items: center;
                        margin-right: -0.8rem;
                        display: flex;
                        height: 3.2rem;
                        font-size: 3.2rem;
                    }
                }

                & .content {
                    width: 100%;
                    height: 11rem;

                    & img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    &__info {
        padding-right: 1rem;
        position: absolute;
        right: 0;
        top: 50%;
        flex-direction: row;
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 5.2rem;

        & li {

            & div.list {
                width: 18rem;
                display: grid;
                gap: 0.8rem;
                grid-template-columns: 1fr 1fr 1fr 1fr;

                &>div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 3.6rem;
                    position: relative;

                    &>div {
                        box-shadow: none !important;
                    }

                    &:hover {
                        background-color: rgb(236, 242, 252);

                        & .hover-text {
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    & img {
                        width: 2.1rem;
                        height: 2.1rem;
                    }
                }
            }

            &>div>div:hover>.hover-text,
            & div:hover>.mini,
            &:hover>.hover-text {
                visibility: visible;
                opacity: 1;
            }

            &:focus .hover-text {
                visibility: hidden;
                opacity: 0;
            }

            position: relative;
            display: flex;
            height: 100%;
            align-items: center;

            &:hover {
                background-color: rgb(236, 242, 252);
                height: 100%;
            }

            &:nth-child(1),
            &:nth-child(2) {
                padding: 0rem 0.4rem;
                font-size: 2.4rem;

                & i {
                    transform: rotate(90deg);
                }
            }

            &:nth-child(3) {
                padding: 0rem 0.4rem;
                font-size: 1.1rem;
            }

            &:nth-child(4) {
                padding: 0rem 0.8rem;
                display: flex;
                gap: 0.8rem;
                font-size: 1.7rem;
            }

            &:nth-child(5) {
                padding-left: 0.8rem;
                align-items: center;
                text-align: center;
                font-size: 1.2rem;

                &>div>span {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}