@import "../../sass/mixins.scss";

//
.loading {
    @include absoluteFull();
    @include flexCenter();

    font-size: 2.4rem;

    &.black {
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
    }

    &.white {
        background-color: rgba(255, 255, 255, 0.5);
        color: var(--color-main);
    }
}